<form>
  <nb-layout>
    <nb-layout-header>{{ utils.upperFirst(mode) }} Warehouse</nb-layout-header>
    <nb-layout-column style="padding-right: 0; padding-left: 0">

      <!-- Name + UUID-->
      <nb-card>
        <nb-card-header>General</nb-card-header>
        <nb-card-body>
          <div class="row">
            <!-- Name -->
            <div class="col-sm-6">
              <div class="form-group">
                <ngx-awms-form-input [formOptions]="companyForm" humanName="Name" objectName="name" [mode]="mode"></ngx-awms-form-input>
              </div>
            </div>

            <!-- UUID -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="uuid" class="label">UUID</label>
                <input id="uuid" type="text" nbInput fullWidth [value]="warehouse?.uuid" placeholder="UUID">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="contactTelephone" class="label">Contact Telephone</label>
                <input id="contactTelephone" type="text" nbInput fullWidth [value]="warehouse?.contactTelephone" placeholder="Contact Telephone">
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Address</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" *ngFor="let addressLine of warehouse?.addressLines; let i = index">
                <label for="addressLine" class="label">Address Line {{ i + 1 }}</label>
                <input id="addressLine" type="text" nbInput fullWidth [value]="addressLine" placeholder="Address Line {{ i + 1 }}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="town" class="label">Town</label>
                <input id="town" type="text" nbInput fullWidth [value]="warehouse?.town" placeholder="Town">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="city" class="label">City</label>
                <input id="city" type="text" nbInput fullWidth [value]="warehouse?.city" placeholder="City">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="region" class="label">Region</label>
                <input id="region" type="text" nbInput fullWidth [value]="warehouse?.region" placeholder="Region">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="zipCode" class="label">Zip Code</label>
                <input id="zipCode" type="text" nbInput fullWidth [value]="warehouse?.zipCode" placeholder="Zip Code">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <ngx-awms-form-country-dropdown [formOptions]="companyForm" dropdownType="countries" humanName="Country" objectName="country" [countries]="countries"></ngx-awms-form-country-dropdown>
              </div>
            </div>
          </div>

        </nb-card-body>
      </nb-card>

    </nb-layout-column>
  </nb-layout>
</form>
